.menu {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--background-color);
  overflow: auto;
  width: max-content;
  height: fit-content;
  position: fixed;
  top: 120px;
  margin: 1rem;
  align-items: center;
  z-index: 900;
}
.tool-item-icon {
  color: var(--text-color);
}
