.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  color: white;
  transition: transform 0.3s ease;
  overflow-x: hidden; /* Oculta el contenido que se extienda horizontalmente */
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
