body[data-theme="light"] {
  background-color: #fff;
  color: #333;
}

body[data-theme="dark"] {
  background-color: #333;
  color: #fff;
}

.custom-modal__input {
  color: var(--text-color);
}

.custom-modal__input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.custom-modal__input-group__input-field {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-text {
  color: red;
  font-size: 0.875rem;
}

.submit-button {
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.sheet-option {
  color: var(--text-color);
}

.input {
  width: 100%;
  padding: 5px;
}

.textarea {
  width: 100%;
  height: 50px;
  padding: 5px;
}

.inputCheck {
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputInsideCheck {
  flex: 1;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px dashed var(--border-color);
  padding: 20px;
  border-radius: 10px;
  min-height: 400px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  position: absolute;
  cursor: move;
}

.textarea {
  width: 100%;
  border: none;
  background-color: transparent;
}

.draggable-field-wrapper {
  position: absolute;
}

.draggable-field {
  position: relative;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.page_container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.page_container__page {
  position: relative;
  display: flex;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--text-color);
  width: 816px;
  height: 1056px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.tool-item-icon {
  cursor: pointer;
}

.container-photoCards {
  display: flex;
  flex-direction: row;
}
