.resizable-rotatable-container {
  position: absolute;
  border: 1px solid #00f;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resizable-rotatable-control {
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #00f;
  position: absolute;
}

.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.rotate {
  top: -20px;
  left: 50%;
  margin-left: -5px;
  cursor: pointer;
}

.resizable-handle {
  width: 10px;
  height: 10px;
  background: blue;
  position: absolute;
}

.resizable-handle-top {
  top: -5px;
  left: 50%;
  margin-left: -5px;
  cursor: ns-resize;
}

.resizable-handle-right {
  right: -5px;
  top: 50%;
  margin-top: -5px;
  cursor: ew-resize;
}

.resizable-handle-bottom {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  cursor: ns-resize;
}

.resizable-handle-left {
  left: -5px;
  top: 50%;
  margin-top: -5px;
  cursor: ew-resize;
}

.resizable-handle-topRight,
.resizable-handle-bottomRight,
.resizable-handle-bottomLeft,
.resizable-handle-topLeft {
  width: 10px;
  height: 10px;
  background: blue;
  position: absolute;
}

.resizable-handle-topRight {
  right: -5px;
  top: -5px;
  cursor: ne-resize;
}

.resizable-handle-bottomRight {
  right: -5px;
  bottom: -5px;
  cursor: se-resize;
}

.resizable-handle-bottomLeft {
  left: -5px;
  bottom: -5px;
  cursor: sw-resize;
}

.resizable-handle-topLeft {
  left: -5px;
  top: -5px;
  cursor: nw-resize;
}
