.parent-container {
  display: flex;
  flex-direction: column;
  height: 400px; /* Ajusta el tamaño del contenedor según sea necesario */
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  box-sizing: border-box;
  position: relative; /* Establecer contexto de posicionamiento si es necesario */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generator-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: var(--output-text-color, #ffffff);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.generator-button:hover {
  background-color: #0056b3;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
