.output-area {
  background-color: var(--output-background-color, #1e1e1e);
  color: var(--output-text-color, #ffffff);
  padding: 10px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
  min-height: 150px;
}

[data-theme="light"] .output-area {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ccc;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 80vh;
  width: 100%;
  box-sizing: border-box;
}

.section {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow: auto;
}

.editorSection {
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;
}

.header .run-button {
  justify-self: end;
}

.header h1 {
  justify-self: start;
}
