:root {
  --background-color-light: #f0f0f0;
  --header-background-color-light: lightgray;
  --text-color-light: #333;
  --background-color-dark: #333;
  --header-background-color-dark: black;
  --text-color-dark: #fff;
  --border-color-light: rgba(0, 0, 0, 0.4);
  --border-color-dark: rgba(255, 255, 255, 0.4);
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 55%);
  --primary-l: hsl(var(--hue), 90%, 65%);
  --primary-d: hsl(var(--hue), 90%, 45%);
  --white: hsl(var(--hue), 10%, 100%);
  --white-d: hsl(var(--hue), 10%, 45%);
}
* {
  box-sizing: border-box;
}
.custom-modal__titile {
  color: var(--text-color);
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --header-background-color: var(--header-background-color-light);
  --text-color: var(--text-color-light);
  --border-color: var(--border-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --header-background-color: var(--header-background-color-dark);

  --text-color: var(--text-color-dark);
  --border-color: var(--border-color-dark);
}

a {
  color: cornflowerblue;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

form {
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.expanded {
  display: unset;
}

.control span {
  display: block;
}

.general {
  border: 1px solid #ccc;
  border-radius: 12px;
  color: var(--text-color);
  background: var(--background-color);
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  outline: none;
  box-sizing: border-box;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: white;
}
