:root {
  --background-color-light: #f0f0f0;
  --text-color-light: #333;
  --background-color-dark: #333;
  --text-color-dark: #fff;
  --border-color-light: rgba(0, 0, 0, 0.4);
  --border-color-dark: rgba(255, 255, 255, 0.4);
}
* {
  box-sizing: border-box;
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --border-color: var(--border-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --border-color: var(--border-color-dark);
}

a {
  color: cornflowerblue;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.icon {
  display: none;
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.theme-toggle-button .icon {
  width: 24px;
  height: 24px;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}

.control span {
  display: block;
}

.general {
  border: 1px solid #ccc;
  border-radius: 12px;
  color: var(--text-color);
  background: var(--background-color);
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  outline: none;
  box-sizing: border-box;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: white;
}
