.container-parent {
  display: flex;
  padding: 20px;

  text-align: center;
  box-sizing: border-box;
}

.containerDrop {
  position: relative;
  width: 100%;
  flex-grow: 2;
  border: 2px dashed var(--border-color);
  padding: 20px;
  border-radius: 10px;
  min-height: 400px;
  background-color: var(--background-color);
  overflow: hidden;
}

.container-parent__sheetContainer__header__saveSheet {
  background-color: #007bff;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  gap: 10px;

  display: flex;
}

.container-parent__sheetContainer__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

._rootContainer_1ye4q_1 * {
  position: relative;
}

.container-parent {
  display: flex;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.container-page,
.container-blockly {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.codeWorkSpace {
  width: 100%;
  height: 1056px;
  border: 1px solid black;
  border-radius: 12px;
}
