---
import { getI18N } from "../../i18n";

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})
---
<html lang={currentLocale}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{i18n.t("General.logIn")}</title>
  <style>
    body {
      color: var(--text-color);
      background-color: var(--background-color);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      background-color: var(--background-color);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px var(--border-color);
      width: 320px;
      height: 320px;

      text-align: center;
      border: 1px solid var(--border-color);
      color: var(--text-color);
      display: grid;
    }
    
    h2 {
      margin-bottom: 20px;
      color: var(--text-color);
    }

    input {
      width: calc(100% - 22px);
      padding: 10px;
      margin: 10px 0;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      color: var(--text-color);
      background-color: var(--background-color);
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #007BFF;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

 

    .error {
      color: red;
      font-size: 0.9em;
      margin-top: -5px;
    }

    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <main class="container"  id="login-container">
    <h2>{i18n.t("General.logIn")}</h2>
    <form id="signin-form" action="javascript:void(0);" method="post">
      <input type="text" id="username" name="username" placeholder={i18n.t("General.username")} required>
      <input type="password" id="password" name="password" placeholder={i18n.t("General.password")} required>
      <button type="submit">{i18n.t("General.logIn")}</button>
    </form>
    <div class="register-link">
      {i18n.t("General.noAccount")} <a id="register-link" href="/signUp">{i18n.t("General.register")}</a>
    </div>
  </main>

  <script>
    import { login } from "../../services/codeApi";

    document.getElementById('signin-form')!.addEventListener('submit', async function(event) {

      const usernameInput = document.getElementById('username') as HTMLInputElement;
      const passwordInput = document.getElementById('password') as HTMLInputElement;


      if (usernameInput && passwordInput) {
        const username = usernameInput.value;
        const password = passwordInput.value;

        try {
          await login(username, password);
          window.location.href = '/app'
        } catch (error) {
          console.error("Error during sign up:", error);
          //TODO: TRADUCIR ESTO
          alert("Failed to sign up. Please try again.");
        }
      }
    });
  </script>
</body>
</html>
