---
import { getI18N } from "../../i18n";
import LayoutNoHeader from "../../layouts/LayoutNoHeader.astro";

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})
---
<LayoutNoHeader title="CowRoll">

<html lang={currentLocale}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{i18n.t("General.logIn")}</title>
  <style>
    body {
      color: var(--text-color);
      background-color: var(--background-color);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      background-color: var(--background-color);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px var(--border-color);
      width: 320px;
      height: 340px;

      text-align: center;
      border: 1px solid var(--border-color);
      color: var(--text-color);
      display: grid;
    }
    
    h2 {
      margin-bottom: 20px;
      color: var(--text-color);
    }

    input {
      width: calc(100% - 22px);
      padding: 10px;
      margin: 10px 0;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      color: var(--text-color);
      background-color: var(--background-color);
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #007BFF;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    .error {
      color: red;
      font-size: 0.9em;
      margin-top: -5px;
    }

    .general-error {
      color: red;
      font-size: 0.9em;
      margin-top: 10px;
    }

    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <main class="container"  id="signin-container">
    <h2>{i18n.t("General.sigIn")}</h2>
    <form id="signin-form" action="javascript:void(0);" method="post">
      <input type="text" id="username" name="username" placeholder={i18n.t("General.username")} required>
      <div id="username-error" class="error"></div>
      <input type="password" id="password" name="password" placeholder={i18n.t("General.password")} required>
      <div id="password-error" class="error"></div>
      <button type="submit">{i18n.t("General.sigIn")}</button>
    </form>
    <div class="register-link">
      {i18n.t("General.alreadyAccount")} <a id="register-link" href="/">{i18n.t("General.logIn")}</a>
    </div>
    <!-- Contenedor para el mensaje de error general -->
    <div id="general-error" class="general-error"></div>
  </main>

  <script>
    import { getI18N } from "../../i18n";
import { getLang } from "../../i18n/utils";
import { signUp } from "../../services/codeApi";

    const i18n = getI18N({ currentLocale: getLang() });   
    document.getElementById('signin-form')!.addEventListener('submit', async function(event) {
      event.preventDefault(); // Evitar el comportamiento predeterminado del formulario

      const usernameInput = document.getElementById('username') as HTMLInputElement;
      const passwordInput = document.getElementById('password') as HTMLInputElement;
      const usernameErrorDiv = document.getElementById('username-error');
      const passwordErrorDiv = document.getElementById('password-error');
      const generalErrorDiv = document.getElementById('general-error');

      if (usernameInput && passwordInput && usernameErrorDiv && passwordErrorDiv && generalErrorDiv) {
        const username = usernameInput.value;
        const password = passwordInput.value;

        const usernameError = validateUsername(username);
        const passwordError = validatePassword(password);

        usernameErrorDiv.innerText = usernameError || '';
        passwordErrorDiv.innerText = passwordError || '';
        generalErrorDiv.innerText = ''; // Limpiar mensaje de error general

        if (usernameError || passwordError) {
          return; // Detener el envío si hay errores de validación
        }

        try {
          const result = await signUp(username, password);
          if(result && "error" in result){
            generalErrorDiv.innerText = result.error
          }else{
            window.location.href = '/app';

          }
          
        } catch (error) {
          console.error("Error during sign up:", error);
          generalErrorDiv.innerText = i18n.t("Errors.signUpFailed"); // Mostrar error general
        }
      }
    });

    function validateUsername(username: string): string | null {
      if (!username || username.trim() === '') {
        return i18n.t("Errors.EMPTY_USER_NAME");
      }
      return null;
    }

    function validatePassword(password: string): string | null {
      if (!password || password.trim() === '') {
        return i18n.t("Errors.EMPTY_PASSWORD");
      }
      if (password.length < 8) {
        return i18n.t("Errors.MINIMUN_LENGTH");
      }
      if (!/[0-9]/.test(password)) {
        return i18n.t("Errors.MINIMUN_LENGTH");
      }
      if (!/[A-Z]/.test(password)) {
        return i18n.t("Errors.UPER_CASE");
      }
      if (!/[a-z]/.test(password)) {
        return i18n.t("Errors.LOWER_CASE");
      }
      if (!/[^a-zA-Z0-9]/.test(password)) {
        return i18n.t("Errors.SPECIAL_CHARACTERES");
      }
      return null;
    }
  </script>
</body>
</html>
</LayoutNoHeader>