---
import Layout from "../../layouts/Layout.astro"
import Editor from "../rol/editor/Editor"
const {currentLocale} = Astro
---
<Layout title="CowRoll">		
  <html lang={currentLocale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <Editor client:only="react"/> 
    </main>
  </body>
  </html>
</Layout>