.treeIcon {
  margin-right: 8px;
  scale: 0.9;
}

.folderItem:hover {
  background-color: gray;
}

.fileName {
  display: inline-block;
  max-width: calc(100% - 32px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-wrap: nowrap;
}

.directoryName,
.fileName {
  user-select: none;
}

.directoryName {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-weight: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 100px;
}

.nodeTree {
  display: flex;
  align-items: center;
}
