.container {
  display: flex;
  height: 90vh;
}

.container__options {
  width: 100%;
  border: 1px solid var(--border-color, #000);
  margin: 1rem; /* This will ensure each article has a margin */
  align-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color, #000);
  text-decoration: none;
}

.container__options svg {
  width: 70%;
  height: 70%;
}
.container__options__text {
  font-size: 50px;
}

.container__options:hover {
  cursor: pointer;
}

.container.sibling-fade {
  visibility: hidden;
}

/* Evita que :hover se active en los espacios entre elementos */

.container.sibling-fade > * {
  visibility: visible;
}
/* Vuelve a mostrar los elementos hijos, aunque el padre esté oculto */

.container.sibling-fade > * {
  transition:
    opacity 150ms linear 100ms,
    transform 150ms ease-in-out 100ms;
}
/* Hace que las transiciones sean suaves con una ligera demora para evitar saltos mientras se mueve el ratón entre los elementos */

.container.sibling-fade:hover > * {
  opacity: 0.4;
  transform: scale(0.95);
}
/* Reduce la opacidad y el tamaño de todos los elementos cuando el padre es enfocado */

.container.sibling-fade > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}
