.properties-panel {
  position: fixed;
  z-index: 999 !important;
  right: 20px;
  top: 120px;
  width: 250px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 20px;
  height: 80vh;
  overflow: auto;
  z-index: inherit;
}

.properties-panel__property-field {
  margin-bottom: 10px;
}

.properties-panel__property-field label {
  display: block;
  margin-bottom: 5px;
}
