.properties-panel {
  position: absolute;
  z-index: 999 !important;
  right: 0;
  top: 0;
  width: 250px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 20px;
  z-index: inherit;
}

.properties-panel__property-field {
  margin-bottom: 10px;
}

.properties-panel__property-field label {
  display: block;
  margin-bottom: 5px;
}
