.parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 12px;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generator-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.generator-button:hover {
  background-color: #0056b3;
}

.blocklyDiv {
  flex-grow: 1;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(---background-color, #1e1e1e);
  width: 100%;
}
