[data-theme="light"] .outputSection__outputoutput-area {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ccc;
}
.container-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  border-right: 1px solid #ccc;
}

.container-page_container_workSpace {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.top-section {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 50%;
}

.blocklySection {
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.section {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  overflow: auto;
  flex: 1;
}

.editorSection {
  flex: 2;
}

.outputSection {
  flex: 1;
}

.blocklySection {
  flex: 2;
  overflow: hidden;
}

.top-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 10px;
  overflow: hidden;
  height: 100%;
}

.section {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
}

.editorSection {
  flex: 2;
  overflow: hidden;
}

.outputSection {
  flex: 1;
  flex-grow: 1;
  overflow: auto;
}

.output-area {
  background-color: var(--output-background-color, #1e1e1e);
  color: var(--output-text-color, #ffffff);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  overflow: auto;
  max-height: 75%;
  width: 100%;
  height: 100%;
}

.blockly-editor {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.header-workSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-workSpace .run-button__editorSection {
  justify-self: end;
}

.run-button__editorSection {
  background-color: #007bff;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.header-workSpace h1 {
  justify-self: start;
}

.no-file-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .container-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }
}
