/* Efecto Sibling Fade */
.photo-grid.sibling-fade {
  visibility: hidden;
}

/* Evita que :hover se active en los espacios entre elementos */

.photo-grid.sibling-fade > * {
  visibility: visible;
}
/* Vuelve a mostrar los elementos hijos, aunque el padre esté oculto */

.photo-grid.sibling-fade > * {
  transition:
    opacity 150ms linear 100ms,
    transform 150ms ease-in-out 100ms;
}
/* Hace que las transiciones sean suaves con una ligera demora para evitar saltos mientras se mueve el ratón entre los elementos */

.photo-grid.sibling-fade:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}
/* Reduce la opacidad y el tamaño de todos los elementos cuando el padre es enfocado */

.photo-grid.sibling-fade > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}
/* Restaura la opacidad y el tamaño del elemento actualmente enfocado */

.add-card {
  border: 1.5px dashed #02b7ff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  max-width: 200px;
  max-height: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.photo-card {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  max-width: 200px;
  margin: 1rem auto;
}

.photo-card:hover {
  cursor: pointer;
}

img.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: box-shadow 0.3s ease-in-out;
}

.name {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: var(--text-color, #fff);
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
