.icon-button {
  background: none;
  border: none;
  color: var(--text-color);
  scale: 2;
  margin-left: 1rem;
}

.icon-button svg {
  width: 16px;
  height: 16px;
}

.label {
  display: flex;
  margin-right: 10px;
  text-align: left;
  min-width: 20px;
  color: var(--text-color);
  font: unset;
}
