---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Diseña tu mundo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
	<div>
		<slot />
	</div>
  <script>
    function loadTheme() {
      const userPreferredTheme = localStorage.getItem('theme');
      const systemPreference = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      const themeToApply = userPreferredTheme || systemPreference;
      document.body.setAttribute('data-theme', themeToApply);
      localStorage.setItem('theme', themeToApply);
      document.dispatchEvent(new CustomEvent('themeChanged', { detail: { theme: themeToApply } }));
    }


    document.addEventListener('DOMContentLoaded', function() {
      loadTheme();

    });
  </script>
</body>
</html>
