.output-area {
  background-color: var(--output-background-color, #1e1e1e);
  color: var(--output-text-color, #ffffff);
  border: 1px solid #c2c2c2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
  min-height: 150px;
  flex-grow: 1;
  width: 100%;
}

[data-theme="light"] .output-area {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ccc;
}

.container-page {
  display: flex;
}

.container {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  gap: 10px;
  height: 80vh;
  width: 100%;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
}
.editorSection {
  overflow: hidden;
}

.section:first-child {
  flex: 6;
}

.section:last-child {
  flex: 4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .run-button {
  justify-self: end;
}

.header h1 {
  justify-self: start;
}

@media screen and (max-width: 768px) {
  .container-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .content {
    padding-top: 0;
  }
}
