.page-selector__arrows {
  color: var(--text-color);
}

.page-selector__arrows.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.page-selector__input {
  background: none;
  border: none;
  color: var(--text-color);
  appearance: textfield;
  font-size: 16px;
  width: min-content;
}
